fieldset{
	border: 3px black solid;
	height: auto;
	width:300px ;
	margin-left: 350px;
	position: CENTER;
	margin-left: 350PX;
}

.princip{
	border-style: groove;
	height: 1000px;
	width: 850px;
	border-color: black;
	position: absolute;
	margin-left: 300px;

}
.cr2{
    position: absolute;
    top: 820px;
    left: 10px;
    display: inline-block;
    white-space: nowrap;
}

.tt{
	position: absolute;
	bottom: 30px;
	left: 900PX;
}

.tttt{
	position: absolute;
	bottom: 30px;
	right: 900px;
}

.pixel{
    position: absolute;
    right: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 300px;
}

.class1{
position: absolute;
top: 80px;
right: 180px;
width: 250px;
}


.class2{
    position: absolute;
    top: 100px;
    right: 90px;
    width: 250px;
    }
.remi{
	position: absolute;
	top: 5PX;
	left: 600PX;
	width: 300PX;
		
}
.c1{
position: absolute;
top: 230px;
right: 550px;
width: 300px;
display: inline-block;
white-space: nowrap;
}
.c2{
position: absolute;
top: 162px;
left: 335px;
display: inline-block;
}

.c0{
    position: absolute;
    top: 162px;
    left: 615px;
    display: inline-block;
    white-space: nowrap;
    }

.a{
    width: 90px;
   }
    .cr1 {
        position: absolute;
        top: 330px;
        left: 335px;
    } 

.cr{
    position: absolute;
    top: 185px;
    left: 240px;
    display: inline-block;
    white-space: nowrap;
    }
   
.c3{ 
position: absolute;
top: 630px;
right: 150px;
}
.c4{
position: absolute;
top: 630px;
left: 100px;
width: 300px;}

input{
border-bottom: 1px dashed black;
border-top: none;
border-right: none;
border-left: none;
}
.c6{
position: absolute;
top: 1020px;
left: 350px;}
.c7{
	position: absolute;
	top: 1070px;
	left: 350px;
}
.S1{
position: absolute;
top: 1500px;
left: 200px;
width: 300px;}
